/*admin*/
#body-content-admin-holder {
    width: 780px;
    float: left;
    padding-right: 60px;
    overflow: hidden;
}

#body-content-admin-slider {
    width: 3720px;
    left: 0px;
}

.body-content-left-admin {
    width: 780px;
    float: left;
    margin-top: 30px;
    padding-right: 460px;
}

#body-content-right-admin {
    padding-top: 34px;
    width: 190px;
    float: left;
    min-height: 300px;
    border-left: solid;
    border-width: 2px;
    border-color: #15181A;
}

#admin-your-plan {
    padding-top: 20px;
    padding-bottom: 20px;
}

.admin-your-plan-icon {
    width: 260px;
    height: 260px;
    background-color: #15181A;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.admin-your-plan-details {
    float: left;
    width: 500px;
    margin-left: 20px;
}

#admin-plan-usage {
    width: 100%;
    height: 30px;
    background-image: linear-gradient(left , rgb(142,198,63) 0%, rgb(237,28,35) 100%);
    background-image: -o-linear-gradient(left , rgb(142,198,63) 0%, rgb(237,28,35) 100%);
    background-image: -moz-linear-gradient(left , rgb(142,198,63) 0%, rgb(237,28,35) 100%);
    background-image: -webkit-linear-gradient(left , rgb(142,198,63) 0%, rgb(237,28,35) 100%);
    background-image: -ms-linear-gradient(left , rgb(142,198,63) 0%, rgb(237,28,35) 100%);
}

#admin-apu-usage {
    width: 500px;
}

.admin-apu-gauge { 
    border-top: 50px solid #000;
    border-right: 50px solid #000;
    border-left: 50px solid #000;
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    height:100px;
    width:200px;
}

#admin-plan-usage .admin-plan-usage-current {
    background-color: #000;
    opacity: 0.5;
    width: 30%;
    height: 30px;
    right: 0px;
    position: absolute;
}

.your-plan-starter {
    background-image: url("../images/your-plan-starter.png");
}

.admin-apps{  
    width:370px;  
    min-height:100px;  
}  
.admin-apps .dragbox{  
    margin:5px 2px  20px;  
    background-color:#15181A;  
    position: relative;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
}  
.admin-apps .dragbox h2{  
    font-size: 12pt;  
    color:#fff;  
    font-family: Questrial;
    letter-spacing: 1px;
    cursor: move;
    padding: 20px 20px 20px 20px;
}

.admin-apps .dragbox p{  
    font-size: 10pt;  
    color:#939598;  
    font-family: helvetica;
    padding: 0 20px 20px 20px;
}

.dragbox-icon {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    width: 60px;
    height: 80px;
    overflow: hidden;
}

.dragbox-details {
    float: left;
    width: 268px;
}

.dragbox-content{  
    background: #15181A;  
    min-height: 130px;
    margin:5px;  
    font-family:'Lucida Grande', Verdana; font-size:0.8em; line-height:1.5em;  
}  
.admin-apps  .placeholder{    
    border-style: dotted;
    border-color: #C03B27;
    border-width: 1px;
    margin-bottom: 20px;
}  
.dragbox h2.collapse{  
    background: #f0f0f0;
}  

#admin-your-default-stack {
    list-style-type: none;
    margin: 0;
    padding: 0 0 2.5em;
    float: left;
    margin-right: 10px;
}

#admin-your-default-stack li {
    background-color: #7B8D99;
    margin: 0 5px 5px 5px;
    padding: 10px;
    font-size: 1.2em;
    width: 200px;
    height: 24px;
    cursor: move;
    border-radius: 6px;
}

#admin-your-default-stack li p {
    font-family: helvetica;
    font-size: 10pt;
    letter-spacing: 1px;
    color: #fff;
}

#admin-your-apps {
    list-style-type: none;
    margin: 0;
    padding: 0 0 2.5em;
    float: left;
    margin-right: 10px;
}

#admin-your-apps li {
    background-color: #000;
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 60px;
    height: 60px;
    float: left;
    cursor: move;
    border-radius: 6px;
}

#admin-your-apps li p {
    font-family: helvetica;
    font-size: 10pt;
    color: #fff;
    letter-spacing: 1px;
    color: #fff;
}

.default-stack {
    float: left;
}

#admin-information p {
    font-family: helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 200;
    color: #617280;
    letter-spacing: 1px;
    padding: 10px 0px 10px 0px;
}

#admin-information .field-group input{
    background-color: #000;
    border-width: 1px;
    border-color: #282E33;
    border-style: solid;
    width: 200px;
    height: 26px;
    color: #fff;
    padding-left: 6px;
}

#admin-information .field-group input:hover{
    border-color: #617280;
}

#admin-information .field-group input:focus{
    border-color: #748899;
}


.admin-update-button {
    background-image: url("../images/button-update-m.png");
    background-color: transparent !important;
    width: 139px !important;
    height: 48px !important;
    border-style: none !important;
    left: 10px;
    top: -16px;
}

.admin-update-button:hover {
    background-image: url("../images/button-update-m-alt.png");
    background-color: transparent !important;
    width: 139px !important;
    height: 48px !important;
}

#admin-information .admin-left-fields {
    width: 390px;
    float: left;
}

#admin-information .admin-right-fields {
    width: 390px;
    float: left;
}

/*rings*/
#admin-rings ul li {
    float: left;
    width: 136px;
    height: 120px;
    background-image: url("../images/icon-admin-ring.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 20px;
}

#admin-rings ul li:hover {
    background-image: url("../images/icon-admin-ring-alt.png");
}

#admin-rings ul li p {
    color: #802819;
    padding-top: 100px;
}

#admin-rings ul li p:hover {
    font-size: 12pt;
    color: #C03B27;
}

#admin-rings input {
    font-family: helvetica;
    font-size: 10pt;
    background-color: #15181A;
    width: 116px;
    height: 28px;
    border-radius: 6px;
    margin-top: 100px;
    color: #3C454D;
    padding-left: 4px;
}

input.admin-ring-new {
    background-color: transparent !important;
    background-image: url("../images/icon-admin-ring-new.png");
    width: 21px !important;
    height: 21px !important;
    position: absolute;
    right: 12px;
    top: 4px;
    cursor: pointer;
}

.admin-ring-delete {
    background-color: transparent !important;
    background-image: url("../images/icon-admin-ring-delete.png");
    width: 21px !important;
    height: 21px !important;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.admin-circle-panel {
    margin-left: 10px;
}

.admin-circle-panel-top {
}

.circle-icon {
    border: 20px solid #15181A;
    border-radius: 80px;
    height: 80px;
    width: 80px;
    -moz-box-shadow: 0px 0px 5px 5px #505D66;
    -webkit-box-shadow: 0px 0px 5px 5px #505D66;
    box-shadow: 0px 0px 5px 5px #505D66;
    float: left;
}

.circle-details {
    float: left;
    padding-left: 30px;
}

.circle-details ul li h1, .admin-circle-panel-bottom h1 {
    font-size: 10pt;
    font-weight: normal;
    font-family: helvetica;
    color: #fff;
    padding: 0px !important;
}

.circle-details ul li p {
    font-size: 12pt;
    font-weight: normal;
    font-family: helvetica;
    color: #C03B27;
}

.admin-circle-panel-bottom {
    margin-top: 20px;
}

.circle-tokens {
    margin-top: 20px;
}

.admin-circle-panel-bottom ul li {
    background-color: #15181A;
    width: 372px;
    height: 40px;
    margin-right: 12px;
    margin-bottom: 12px;
    float: left;
    border-radius: 6px;
}

.admin-circle-panel-bottom ul li p {
    font-size: 13pt;
    color: #C03B27;
    padding-left: 9px;
    padding-top: 9px;
}

input.admin-token-new {
    background-color: transparent !important;
    background-image: url("../images/icon-admin-token-new.png");
    width: 37px !important;
    height: 36px !important;
    position: absolute;
    right: 2px;
    top: -3px;
    cursor: pointer;
}

.admin-token-delete {
    background-color: transparent !important;
    background-image: url("../images/icon-admin-token-delete.png");
    width: 15px !important;
    height: 15px !important;
    position: absolute;
    right: 12px;
    top: 14px;
    cursor: pointer;
}

.circle-tokens input {
    font-family: helvetica;
    font-size: 12pt;
    background-color: #15181A;
    margin-top: 6px;
    width: 200px;
    height: 28px;
    border-radius: 6px;
    color: #3C454D;
    padding-left: 8px;
}