/*admin*/
#body-content-admin-holder {
    width: 780px;
    float: left;
    padding-right: 60px;
    overflow: hidden;
}

#body-content-admin-slider {
    width: 3720px;
    left: 0px;
}

#body-content-admin-slider .body-content-left-admin h2 {
    padding-bottom: 10px;
}

.body-content-left-admin {
    width: 780px;
    float: left;
    margin-top: 30px;
    padding-right: 460px;
}

.card-height-adjust {
    margin-top: 68px;
}

#body-content-right-admin {
    padding-top: 34px;
    width: 190px;
    float: left;
    min-height: 300px;
    border-left: solid;
    border-width: 2px;
    border-color: #15181A;
}

#admin-your-plan {
    padding-top: 20px;
    padding-bottom: 20px;
}

.admin-your-plan-icon {
    width: 246px;
    height: 246px;
    background-color: #15181A;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.your-plan-starter {
    background-image: url("../images/graphic-pricing-gold.png");
}

.admin-your-plan-details {
    background-image: url("../images/graphic-meter-background.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 246px;
    height: 246px;
    background-color: #15181A;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
}

.admin-your-plan-details h1, .admin-your-plan-icon h1 {
    font-family: questrial, sans-serif;
    font-size: 16pt;
    font-weight: lighter;
    color: #fff;
    padding-left: 20px;
    letter-spacing: 1px;
}

.admin-your-plan-details h2 {
    font-family: questrial, sans-serif;
    font-size: 12pt;
    color: #666766;
    text-align: center;
    padding-top: 0px;
}

.admin-your-plan-details p, .admin-your-plan-icon p {
    font-family: questrial, sans-serif;
    font-size: 24pt;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 0px;
}

.admin-meter-needle {
    background-image: url("../images/graphic-meter-needle.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 80px;
    left: 119px;
    width: 7px;
    height: 94px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.admin-meter-needle:hover {
    transform: rotate(45deg);
    transform-origin: center bottom;
    -ms-transform: rotate(45deg); /* IE 9 */
    -ms-transform-origin: center bottom; /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: center bottom; /* Safari and Chrome */
    -moz-transform: rotate(45deg); /* Firefox */
    -moz-transform-origin: center bottom; /* Firefox */
    -o-transform: rotate(45deg); /* Opera */
    -o-transform-origin: center bottom; /* Opera */
}

/*admin stacks*/
.admin-apps {
    width: 100px;
    height: 100px;
    background-color: #223E4D; 
    float: left;
    margin-right: 20px;
}

.default-stack {
    clear: both;
}

.admin-stacks-holder {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 10000px;
}

.admin-addon-stack {
    float: left;
    padding-right: 30px;
}

.stack-header {
    background-image: url("../images/background-admin-stack-header.png");
    font-size: 1.2em;
    margin: 0px 0px 0px 5px;
    width: 230px;
    height: 86px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    text-align: center;
}

.stack-header p {
    color: #E5692A;
    font-family: questrial;
}

.stack-footer p {
    padding-top: 14px;
    color: #E5692A;
    font-family: questrial;
}

.stack-footer {
    background-image: url("../images/background-admin-stack-footer.png");
    font-size: 1.2em;
    margin: 0px 0px 0px 5px;
    width: 230px;
    height: 52px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
}

#admin-your-stacks {
    overflow-x: scroll;
}

.stack-new {
    background-color: #223E4D;
    font-size: 1.2em;
    margin: 0px 0px 0px 5px;
    width: 230px;
    height: 130px;
    border-radius: 10px;
    text-align: center;
}

.stack-new p {
    color: #000;
    font-size: 22pt;
    font-family: questrial;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
}

input.admin-stack-new {
    background-color: transparent !important;
    background-image: url("../images/icon-admin-ring-new.png");
    width: 21px !important;
    height: 21px !important;
    position: absolute;
    right: 14px;
    top: 14px;
    cursor: pointer;
}

.stack-header input.stack-current, .stack-new input.stack-current {
    background-color: #000;
    width: 206px;
    height: 28px;
    color: #802819;
    font-size: 12pt;
    font-family: helvetica;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 6px;
    padding-left: 6px;
}

.admin-stack-delete {
    background-color: transparent !important;
    background-image: url("../images/icon-admin-token-delete.png");
    width: 15px !important;
    height: 15px !important;
    position: absolute;
    right: 15px;
    top: 17px;
    cursor: pointer;
}

.admin-your-default-stack {
    list-style-type: none;
    margin: 0;
}

.admin-your-default-stack li {
    background-image: url("../images/background-admin-stack.png");
    margin: 0 0 0px 5px;
    font-size: 1.2em;
    width: 230px;
    height: 58px;
    cursor: move;
    text-align: center;
}

.admin-your-default-stack li p {
    font-family: questrial;
    font-size: 11pt;
    padding-top: 20px;
    letter-spacing: 1px;
    color: #fff;
    text-transform: lowercase;
}

.admin-your-apps {
    list-style-type: none;
    margin: 0;
    padding: 0 0 2.5em;
    float: left;
    margin-right: 10px;
}

.admin-your-apps li {
    background-color: #000;
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 100px;
    height: 100px;
    float: left;
    cursor: move;
    border-radius: 6px;
}

.admin-your-apps li p {
    font-family: helvetica;
    font-size: 10pt;
    color: #fff;
    letter-spacing: 1px;
    color: #fff;
}

#admin-addon-button a {
    display: block;
    background-image: url("../images/button-needaddon-xlg.png");
    width: 282px;
    height: 80px;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
}

#admin-information p {
    font-family: helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 200;
    color: #617280;
    letter-spacing: 1px;
    padding: 10px 0px 10px 0px;
}

#admin-information p.admin-normal {
    font-family: helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 200;
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 0px 10px 0px;
}

#admin-information .field-group {
    
}

#admin-information .field-group input{
    background-color: #000;
    border-width: 1px;
    border-color: #282E33;
    border-style: solid;
    width: 80%;
    height: 26px;
    color: #fff;
    padding-left: 6px;
}

#admin-information .field-group input:hover{
    border-color: #617280;
}

#admin-information .field-group input:focus{
    border-color: #748899;
}


.admin-update-button {
    background-image: url("../images/button-update-m.png");
    background-color: transparent !important;
    width: 139px !important;
    height: 48px !important;
    border-style: none !important;
    margin-top: 10px;
}

.admin-update-button:hover {
    background-image: url("../images/button-update-m-alt.png");
}

.admin-update-button:focus {
    background-image: url("../images/button-update-m-alt.png");
}

#admin-information fieldset.admin-left-fields {
    width: 390px;
    float: left;
}

#admin-information fieldset.admin-right-fields {
    width: 390px;
    float: left;
}

/*rings*/
#admin-rings ul li {
    float: left;
    width: 136px;
    height: 120px;
    background-image: url("../images/icon-admin-ring.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 20px;
}

#admin-rings ul li:hover {
    background-image: url("../images/icon-admin-ring-alt.png");
}

#admin-rings ul li p {
    color: #802819;
    padding-top: 100px;
}

#admin-rings ul li p:hover {
    font-size: 12pt;
    color: #C03B27;
}

#admin-rings input {
    font-family: helvetica;
    font-size: 10pt;
    background-color: #15181A;
    width: 116px;
    height: 28px;
    border-radius: 6px;
    margin-top: 100px;
    color: #3C454D;
    padding-left: 4px;
}

input.admin-ring-new {
    background-color: transparent !important;
    background-image: url("../images/icon-admin-ring-new.png");
    width: 21px !important;
    height: 21px !important;
    position: absolute;
    right: 12px;
    top: 4px;
    cursor: pointer;
}

.admin-ring-delete {
    background-color: transparent !important;
    background-image: url("../images/icon-admin-ring-delete.png");
    width: 21px !important;
    height: 21px !important;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.admin-circle-panel {
    margin-left: 10px;
}

.admin-circle-panel-top {
}

.circle-icon {
    border: 20px solid #15181A;
    border-radius: 80px;
    height: 80px;
    width: 80px;
    -moz-box-shadow: 0px 0px 5px 5px #505D66;
    -webkit-box-shadow: 0px 0px 5px 5px #505D66;
    box-shadow: 0px 0px 5px 5px #505D66;
    float: left;
}

.circle-details {
    float: left;
    padding-left: 30px;
}

.circle-details ul li h1, .admin-circle-panel-bottom h1 {
    font-size: 10pt;
    font-weight: normal;
    font-family: helvetica;
    color: #fff;
    padding: 0px !important;
}

.circle-details ul li p {
    font-size: 12pt;
    font-weight: normal;
    font-family: helvetica;
    color: #C03B27;
}

.admin-circle-panel-bottom {
    margin-top: 20px;
}

.circle-tokens {
    margin-top: 20px;
}

.admin-circle-panel-bottom ul li {
    background-color: #15181A;
    width: 372px;
    height: 40px;
    margin-right: 12px;
    margin-bottom: 12px;
    float: left;
    border-radius: 6px;
}

.admin-circle-panel-bottom ul li p {
    font-size: 13pt;
    color: #C03B27;
    padding-left: 9px;
    padding-top: 9px;
}

input.admin-token-new {
    background-color: transparent !important;
    background-image: url("../images/icon-admin-token-new.png");
    width: 37px !important;
    height: 36px !important;
    position: absolute;
    right: 2px;
    top: -3px;
    cursor: pointer;
}

.admin-token-delete {
    background-color: transparent !important;
    background-image: url("../images/icon-admin-token-delete.png");
    width: 15px !important;
    height: 15px !important;
    position: absolute;
    right: 12px;
    top: 14px;
    cursor: pointer;
}

.circle-tokens input {
    font-family: helvetica;
    font-size: 12pt;
    background-color: #15181A;
    margin-top: 6px;
    width: 200px;
    height: 28px;
    border-radius: 6px;
    color: #3C454D;
    padding-left: 8px;
}